<html>
<head>
    <title>SR GAN Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">SR GAN Example</h1>
      <div class="row center">
        <h5 class="header col s12 light">Upload a low resolution file that you need to convert to high resolution</h5>
      </div>
      <br><br>
      <div class="row">
    <form action="/handleUpload" method="post" enctype="multipart/form-data">
    <div class="file-field input-field">
      <div class="btn">
        <span>Choose a picture:</span>
        <input type="file" accept="image/*" name="photo" />
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
	  <div class="center">
        <input id="download-button" class="btn-large waves-effect waves-light orange" value="Upload" />
      </div>
    </div>
  </form>
  </div>
    </div>
</div>

</body>
</html>