<!DOCTYPE html>
<html>
<head>
    <title>Your Super Resolution Image</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div>
    <h3>Your Super Resolution Image</h3>
    <div>
        <img src="{{ data }}" alt="SR Image"/>
    </div>
    <div>
        <form action="/afterUpload" method="post">
            Go back to home page:
            <input type="submit" value="HOME"/>
        </form>
    </div>
</div>
</body>
</html>